.features{
    padding: 100px 120px;
    background-color: #F8FBFB;
    text-align: center;
}

.features h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.features h4{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #12141D;
    margin-bottom: 16px;
}

.features p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    color: #42444f;
}


.features img{
    width: 360px;
    height: 360px;
    margin-bottom: 24px;
}
