.background {
    background: url(../assets/Background.png) no-repeat;
    padding: 40px 60px;
}

.header {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-right: 20px;
}

.menu-nav a {
    color: #12141d;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
}

.btn-hero {
    background-color: #FA6444;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
}

/* Responsiveness */

@media screen and (max-width: 768px) {
    .background {
        background: url(../assets/Background.png) no-repeat;
        padding: 16px 20px;
    }

    .header {
        padding: 20px;
    }

    .menu-nav {
        margin-top: 20px;
    }

    .ml-auto {
        margin-left: auto;
        margin-top: 20px;
    }
}