.background {
    background: url(../assets/Background.png) no-repeat;
}

.header {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-right: 20px;
}

.menu-nav a {
    color: #12141d;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    
}

